
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*border-radius: 6px;*/
    background-color: #f8f9fa;
    /*box-shadow: 10px 10px 5px grey;*/
    /*margin: 5em;*/
}

body {
    background: url('./phone-index.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer a:link {
    color: #007bff;
    text-decoration: none;
}

.footer a:visited {
    color: #007bff;

}

.footer a:hover {
    color: lightblue;
    text-decoration: none;
}

.footer a:active {
    color: #007bff;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;
  width: 100%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: inherit;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .sign-up,
    .feature-1,
    .feature-2,
    .feature-3 {
      width: 50%;
    }
  }

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .page {
      width: 100%;
      margin: 0 auto;
    }
    .header {
      height: 400px;
    }
}
