
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*border-radius: 6px;*/
    /*background-color: #f8f9fa;*/
    /*box-shadow: 10px 10px 5px grey;*/
    /*margin: 5em;*/
}

body {
  background: url('../images/phone-index-3.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.footer {
	display:grid;
	grid-template-columns: auto auto auto;
        grid-gap: 1px;
	font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black; // #f8f9fa;
  color: white;
  text-align: center;
  padding: 10px;
}

.footer a:link {
  color: white; // #007bff;
  text-decoration: none;
}

.footer a:visited {
  color: grey; // #007bff;

}

.footer a:hover {
  color: lightblue;
  text-decoration: none;
}

.footer a:active {
  color: #007bff;
}

/* Container holding the image and the text */
/*.container {
  padding: 2em;
  position: relative;
  text-align: center;
  color: black;
  width: 100%;
  display: flex;
}*/

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-family: inherit;
}

.align-right {
	text-align:right;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .title {
    font-size: 2em;
    font-weight: bold;
  }
  .shrink-button {
    width: 50%;
    align-self: right;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .title {
    font-size: 3em;
    font-weight: bold;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 1000px;
    margin: 0 auto;
  }
  .header {
    height: 400px;
  }

  .title {
    font-size: 3.5em;
    font-weight: bold;
  }
}
